Repository simpleweb/open-format, pull requests merged in 2022-07, with the labels that each got.

#38 Subgraph structure
  .changeset/orange-rice-sell.md
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/src/core/subgraph.ts
  sdks/open-format/src/types/index.ts
  sdks/open-format/test/subgraph.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useTokens.tsx
  sdks/react/src/provider.tsx
  sdks/react/src/utilities.tsx
  sdks/react/test/useTokens.test.tsx
Labels: sdk:open-format, sdk:react

#47 Raw Request configuration options
  .changeset/fluffy-rings-clean.md
  sdks/react/README.md
  sdks/react/src/hooks/useRawRequest.tsx
  sdks/react/test/useRawRequest.test.tsx
Labels: sdk:react

#48 RELEASING: Releasing 2 package(s)
  .changeset/fluffy-rings-clean.md
  .changeset/fresh-cameras-know.md
  .changeset/perfect-shoes-eat.md
  sdks/open-format/CHANGELOG.md
  sdks/open-format/package.json
  sdks/react/CHANGELOG.md
  sdks/react/package.json
Labels: sdk:open-format, sdk:react

#50 Setup of Revenue Sharing
  .changeset/clean-goats-begin.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/test/revenue.test.ts
  sdks/open-format/test/setup.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useRevenueSharing.tsx
  sdks/react/test/setup.ts
  sdks/react/test/useRevenueSharing.test.tsx
Labels: sdk:open-format, sdk:react

#54 Revenue Sharing: Get collaborator and token balance
  .changeset/mean-grapes-sing.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/test/revenue.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useGetCollaboratorBalance.tsx
  sdks/react/src/hooks/useGetTokenBalance.tsx
  sdks/react/test/useGetCollaboratorBalance.test.tsx
  sdks/react/test/useGetTokenBalance.test.tsx
Labels: sdk:open-format, sdk:react

#57 Hotfix: Fix hook return types
  .changeset/grumpy-drinks-admire.md
  sdks/react/src/hooks/useRevenueSharingAllocation.tsx
  sdks/react/src/hooks/useWithdrawCollaboratorFunds.tsx
  sdks/react/src/hooks/useWithdrawTokenFunds.tsx
Labels: sdk:react

#56 Commissions: Set secondary commission
  .changeset/hip-ducks-lick.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/test/commission.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useSetSecondaryCommissionPercentage.tsx
  sdks/react/test/useSetSecondaryCommissionPercentage.test.tsx
Labels: sdk:open-format, sdk:react

#62 Secondary Sales: Buy
  .changeset/calm-ligers-worry.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/test/buy.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useBuy.tsx
  sdks/react/test/useBuy.test.tsx
Labels: sdk:open-format, sdk:react

#63 Hotfix: Run all tests serially in the current process
  sdks/open-format/package.json
  sdks/react/package.json
Labels: sdk:open-format, sdk:react

#66 Contract instances
  .changeset/nine-jokes-judge.md
  sdks/open-format/README.md
  sdks/open-format/src/core/base.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/src/core/sdk.ts
  sdks/open-format/src/index.ts
  sdks/open-format/src/types/index.ts
  sdks/open-format/test/buy.test.ts
  sdks/open-format/test/commission.test.ts
  sdks/open-format/test/mint.test.ts
  sdks/open-format/test/revenue.test.ts
  sdks/open-format/test/royalties.test.ts
  sdks/open-format/test/sdk.test.ts
  sdks/react/README.md
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useBuy.tsx
  sdks/react/src/hooks/useBuyWithCommission.tsx
  sdks/react/src/hooks/useGetCollaboratorBalance.tsx
  sdks/react/src/hooks/useGetTokenBalance.tsx
  sdks/react/src/hooks/useMint.tsx
  sdks/react/src/hooks/useMintWithCommission.tsx
  sdks/react/src/hooks/useNFT.tsx
  sdks/react/src/hooks/useRevenueSharingAllocation.tsx
  sdks/react/src/hooks/useRoyalties.tsx
  sdks/react/src/hooks/useSetPrimaryCommissionPercentage.tsx
  sdks/react/src/hooks/useSetRoyalties.tsx
  sdks/react/src/hooks/useSetSecondaryCommissionPercentage.tsx
  sdks/react/src/hooks/useSetTokenSalePrice.tsx
  sdks/react/src/hooks/useSetupRevenueSharing.tsx
  sdks/react/src/hooks/useWithdrawCollaboratorFunds.tsx
  sdks/react/src/hooks/useWithdrawTokenFunds.tsx
  sdks/react/src/utilities.tsx
  sdks/react/test/useBuy.test.tsx
  sdks/react/test/useBuyWithCommission.test.tsx
  sdks/react/test/useGetCollaboratorBalance.test.tsx
  sdks/react/test/useGetTokenBalance.test.tsx
  sdks/react/test/useMint.test.tsx
  sdks/react/test/useMintWithCommission.test.tsx
  sdks/react/test/useRevenueSharingAllocation.test.tsx
  sdks/react/test/useRoyalties.test.tsx
  sdks/react/test/useSetPrimaryCommissionPercentage.test.tsx
  sdks/react/test/useSetRoyalties.test.tsx
  sdks/react/test/useSetSecondaryCommissionPercentage.test.tsx
  sdks/react/test/useSetupRevenueSharing.test.tsx
  sdks/react/test/useWithdrawCollaboratorFunds.test.tsx
  sdks/react/test/useWithdrawTokenFunds.test.tsx
Labels: sdk:open-format, sdk:react

#65 Feature: Updates to issue templates
  .github/ISSUE_TEMPLATE/--bug-report.md
  .github/ISSUE_TEMPLATE/--documentation-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

#71 Update feature request issue menu item
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

#72 Feature: Get Commission Percentage
  .changeset/strange-cobras-battle.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/commission.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useGetPrimaryCommissionPercentage.tsx
  sdks/react/src/hooks/useGetSecondaryCommissionPercentage.tsx
  sdks/react/test/useGetPrimaryCommissionPercentage.test.tsx
  sdks/react/test/useGetSecondaryCommissionPercentage.test.tsx
Labels: sdk:open-format, sdk:react

#73 Feature: Get Token Sale Price
  .changeset/fast-jokes-mate.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/token.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useGetPrimaryCommissionPercentage.tsx
  sdks/react/src/hooks/useGetSecondaryCommissionPercentage.tsx
  sdks/react/src/hooks/useGetTokenSalePrice.tsx
  sdks/react/test/useGetTokenSalePrice.test.tsx
  sdks/react/test/useSetTokenSalePrice.test.tsx
Labels: sdk:open-format, sdk:react

#74 Feature: Set Minting Price
  .changeset/shy-eagles-flash.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/mint.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useSetMintingPrice.tsx
  sdks/react/test/useSetMintingPrice.test.tsx
Labels: sdk:open-format, sdk:react

#75 Feature: Get/Set Max Supply and Get Total Supply
  .changeset/strange-toys-turn.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/supply.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useGetCollaboratorBalance.tsx
  sdks/react/src/hooks/useGetMaxSupply.tsx
  sdks/react/src/hooks/useGetTokenBalance.tsx
  sdks/react/src/hooks/useGetTotalSupply.tsx
  sdks/react/src/hooks/useRoyalties.tsx
  sdks/react/src/hooks/useSaleData.tsx
  sdks/react/src/hooks/useSetMaxSupply.tsx
  sdks/react/test/useGetMaxSupply.test.tsx
  sdks/react/test/useGetTotalSupply.test.tsx
  sdks/react/test/useSetMaxSupply.test.tsx
  sdks/react/test/useSetSecondaryCommissionPercentage.test.tsx
Labels: sdk:open-format, sdk:react

#76 Feature: Get Token Creator
  .changeset/light-seas-kiss.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/token.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useGetTokenCreator.tsx
  sdks/react/test/useGetTokenCreator.test.tsx
Labels: sdk:open-format, sdk:react

#78 Feature: Set Approved Minting Extension
  .changeset/four-eggs-yawn.md
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/nft.ts
  sdks/open-format/test/mint.test.ts
  sdks/react/src/hooks/index.ts
  sdks/react/src/hooks/useSetApprovedMintingExtension.tsx
  sdks/react/test/useSetApprovedMintingExtension.test.tsx
Labels: sdk:open-format, sdk:react

#80 Feature: Pass custom transaction parameters to deploy function
  .changeset/grumpy-students-juggle.md
  examples/node-deploy/index.js
  sdks/open-format/src/core/contract.ts
  sdks/open-format/src/core/sdk.ts
  sdks/react/src/hooks/useDeploy.tsx
Labels: sdk:open-format

#96 Docs: Adds in the `ConnectButton` and `OpenFormatProvider` docs
  docs/README.md
  docs/SUMMARY.md
  docs/guides/README.md
  docs/guides/quickstart/creating-nft.md
  docs/guides/quickstart/reading-subgraph.md
  docs/protocol/README.md
  docs/sdks/javascript/README.md
  docs/sdks/react/README.md
  docs/sdks/react/connectbutton.md
  docs/sdks/react/openformatprovider.md
Labels: documentation

#97 Feature: Migrating to React Query 4
  .changeset/fluffy-snakes-invent.md
  docs/sdks/react/README.md
  sdks/react/README.md
  sdks/react/package.json
  sdks/react/src/hooks/useBurn.tsx
  sdks/react/src/hooks/useBuy.tsx
  sdks/react/src/hooks/useBuyWithCommission.tsx
  sdks/react/src/hooks/useDeploy.tsx
  sdks/react/src/hooks/useGetCollaboratorBalance.tsx
  sdks/react/src/hooks/useGetMaxSupply.tsx
  sdks/react/src/hooks/useGetPrimaryCommissionPercentage.tsx
  sdks/react/src/hooks/useGetSecondaryCommissionPercentage.tsx
  sdks/react/src/hooks/useGetTokenBalance.tsx
  sdks/react/src/hooks/useGetTokenCreator.tsx
  sdks/react/src/hooks/useGetTokenSalePrice.tsx
  sdks/react/src/hooks/useGetTotalSupply.tsx
  sdks/react/src/hooks/useMint.tsx
  sdks/react/src/hooks/useMintWithCommission.tsx
  sdks/react/src/hooks/useRawRequest.tsx
  sdks/react/src/hooks/useRevenueSharingAllocation.tsx
  sdks/react/src/hooks/useRoyalties.tsx
  sdks/react/src/hooks/useSaleData.tsx
  sdks/react/src/hooks/useSetApprovedMintingExtension.tsx
  sdks/react/src/hooks/useSetMaxSupply.tsx
  sdks/react/src/hooks/useSetMintingPrice.tsx
  sdks/react/src/hooks/useSetPrimaryCommissionPercentage.tsx
  sdks/react/src/hooks/useSetRoyalties.tsx
  sdks/react/src/hooks/useSetSecondaryCommissionPercentage.tsx
  sdks/react/src/hooks/useSetTokenSalePrice.tsx
  sdks/react/src/hooks/useSetupRevenueSharing.tsx
  sdks/react/src/hooks/useTogglePauseState.tsx
  sdks/react/src/hooks/useTokens.tsx
  sdks/react/src/hooks/useWithdrawCollaboratorFunds.tsx
  sdks/react/src/hooks/useWithdrawTokenFunds.tsx
  sdks/react/src/provider.tsx
  yarn.lock
Labels: sdk:react
